@font-face {
    font-family: 'quickensregular';
    src: url('quickens-webfont.woff2') format('woff2'),
         url('quickens-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* general stuff */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* each page is a section -- general section rules: */
section{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.container{
	align-items: center;
}

html{
	scroll-behavior: smooth;
}

/* homepage */
#homepage{
	position: relative;
}

.container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

a{
	color: black;
}

#arrow{
	position:relative;
	top: 3.5em;
	height: 2em;
	width:3em;

}

#scrolldown1{
	display: block;
}

.scrolldown1{
	position: absolute;
	color: black;
	left: 41%;
	right: 40%;
	bottom: 30%;
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
}

.scrolldown1::before,
.scrolldown1::after{
	content: "CLICK TO BEGIN";
	font-family: "quickensregular", sans-serif;
	font-size: 12pt;
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	animation: scrolldown 1s ease-in-out infinite;
}

/* page 1: video 1 */
#page1{
	position: relative;
	background-color: black;
}

#vid1{
	height: 4em;
	width: 22em;
	position: relative;
	top: 4em;
}

#video1{ 
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display:block;

}

.top
{
	position:absolute;
	bottom:0%;
	left:0%;
	padding: 1.4em;
	font-size: 1.5em;
	cursor: pointer;
}

/* page 2: video 2 */
#page2{
	position: relative;
	background-color: black;
} 

#vid2{
	height: 4em;
	width: 22em;
	position: relative;
	top: 4em;
}

#video2{ 
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display:block;
}


/* page 3: video 3 */

#page3{
	position: relative;
	background-color: black;
} 

#vid3{
	height: 4em;
	width: 22em;
	position: relative;
	top: 4em;
}

#video3{ 
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display:block;
}

/* closing screen */

#closing-screen{
	position: relative;
	background-color: white;
}

.text-container{
	font-family: 'Abril Fatface', cursive; 
	padding-top: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

body
{
	overflow: hidden;
}

.credits
{
	padding: 1.4em;
}

p
{
	font-family: "quickensregular",sans-serif;
}

.footer
{
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-color: black;
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 1.5em;
	align-items: center;
}

.linky
{
	color: white;
}

a
{
	color: inherit;
	text-decoration: underline;
}

/* overlaid divs with p5 in them */
.overlay
{
	position:absolute;
	width: 400px;
	height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

/* @keyframes scrolldown{
	0%{
		opacity: 1;
	}
	30%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
} */

